<template class="shadow">
    <style><%- shadowStyle %></style>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            <content select=".dropdown-title"></content>
            <span class="caret"></span>
        </a>
        <content select=".dropdown-menu"></content>
    </div>
</template>

<script>
    (function(window, document, undefined) {
        require("websemble").frontend.createComponent('ui-dropdown');
    })(window, document);
</script>