<template class="shadow">
    <style><%- shadowStyle %></style>
    <div class="dropdown">
        <button class="btn btn-link" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <content select=".dropdown-title"></content>
            <span class="caret"></span>
        </button>
        <content select=".dropdown-menu"></content>
    </div>
</template>

<script>
    (function(window, document, undefined) {
        require("websemble").frontend.createComponent('ui-dropdown');
    })(window, document);
</script>